@import "global.css";
/* font-family: 'DM Serif Display', serif; */
/* font-family: 'Public Sans', sans-serif; */

* {
  -webkit-tap-highlight-color: transparent;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--BgColor);
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  font-size: 15px;
  overflow-x: hidden;
}

/* >>>>>> Circles <<<<<<<<<< */

.circle_outer_top {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

.circle_top,
.circle_burger_menu,
.circle_api,
.circle_partners_section,
.circle_footer {
  width: 780px;
  height: 780px;
  border-radius: 780px;
  position: absolute;
}

.circle_top {
  background-color: var(--CircleColor);
  top: calc(-545px - (100vw - 375px) * 0.2977099);
  left: -202px;
  z-index: -1;
}

.circle_burger_menu {
  background-color: var(--CircleBlackBg);
  top: calc(-545px - (100vw - 375px) * 0.2977099);
  left: -282px;
}

.circle_partners_section {
  background-color: var(--CircleBlackBg);
  top: -600px;
  left: calc((100vw - 780px) / 2);
  z-index: 0;
}

.circle_api {
  background-color: var(--CircleColor);
  top: 365px;
  right: -390px;
  z-index: -1;
  display: none;
}

.circle_footer {
  background-color: var(--CircleBlackBg);
  top: 176px;
  left: -202px;
  z-index: 0;
}

@media only screen and (min-width: 768px) {
  .circle_partners_section {
    top: -547px;
  }

  .circle_footer {
    top: -148px;
    left: 385px;
  }

  .circle_top {
    /* left: 800px !important; */
    /* top: -172px !important; */
  }
}

@media only screen and (min-width: 1440px) {
  .circle_api {
    display: block;
  }
  
  .circle_partners_section {
    top: -359px;
    left: -235px;
  }

  .circle_footer {
    top: -148px;
    left: 1055px;
  }
}

/*  <><><><>><><><<> Navbar tablet and desktop <><><><><><><><><> */

.navbar_tablet {
  display: none;
}

/* <><><><><><><>   Burger Menu  <><><><><><><><><> */

.burger_menu_logos {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.pay_api_logo {
  margin-left: 24px;
  margin-top: 40px;
}

.burger_button {
  border: none;
  height: 17px;
  background-color: var(--CircleColor);
  padding: 0;
  margin-right: 24px;
  margin-top: 51px;
}

.burger_menu {
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--MirageBlue);
  width: 80%;
  max-width: 500px;
  padding: 48px 24px;
  transition: 0.2s;
  min-height: 667px;
  height: 100vh;
  transform: translateX(100vw);
  overflow: hidden;
  z-index: 7;
}

.burger_menu_hidden {
  transform: translateX(0px);
}

.burger_menu_x_outer {
  display: flex;
  justify-content: end;
}

.burger_menu_x {
  width: fit-content;
  margin: 0;
  position: relative;
  margin-right: 2px;
}

.burger_menu_line {
  width: 249px;
  height: 1px;
  border: 1px solid var(--LinkWaterWhite);
  opacity: 0.15;
  margin-top: 22px;
  margin-bottom: 42px;
}

.burger_menu_list {
  position: relative;
  list-style-type: none;
  text-align: center;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.burger_menu_list li {
  margin-bottom: 32px;
  width: fit-content;
}

.burger_menu_list a {
  text-decoration: none;
  color: var(--LinkWaterWhite);
  opacity: 0.7;
}

.schedule-a-demo-outer-burger {
  text-align: center;
  position: relative;
  z-index: 0;
}

.schedule-a-demo-burger {
  background-color: var(--DarkPink);
  border: none;
  width: 252px;
  height: 48px;
  border-radius: 24px;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  color: var(--LinkWaterWhite);
  text-align: center;
  font-weight: 700;
  letter-spacing: -0.115px;
  padding-top: 3px;
  padding-left: 10px;
  font-size: 15px;
  font-family: "Public Sans", sans-serif;
}

/* >>>>>>>>>>>>>>>>> Header <<<<<<<<<<<<<<<<<< */

.header_phone {
  text-align: center;
  margin-top: 28px;
}

.header_phone img {
  filter: drop-shadow(25px 25px 80px rgba(54, 83, 107, 0.3));
}

header h1 {
  font-family: "DM Serif Display", serif;
  font-size: 32px;
  color: var(--SanJuanBlue);
  margin: 20px 24px 24px 24px;
  text-align: center;
  line-height: 36px;
  letter-spacing: -0.246px;
  font-weight: 700;
  padding: 0px 2px;
}

.header_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_form input {
  border: none;
  outline: none;
  border-radius: 24px;
  background: var(--LinkWaterWhite);
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  width: 327px;
  height: 48px;
  color: var(--SanJuanBlue);
  font-size: 15px;
  font-weight: 700;
  padding: 4px 80px 0 27px;
  margin-bottom: 16px;
}

.header_form input::placeholder {
  color: var(--SanJuanBlue);
  opacity: 0.5;
}

.schedule-a-demo {
  background-color: var(--DarkPink);
  border: none;
  width: 327px;
  height: 48px;
  border-radius: 24px;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  color: var(--LinkWaterWhite);
  text-align: center;
  font-weight: 700;
  letter-spacing: -0.115px;
  padding-top: 2px;
  padding-left: 8px;
  font-size: 15px;
  font-family: "Public Sans", sans-serif;
}

header p {
  color: var(--LightSanJuanBlue);
  text-align: center;
  margin-top: 24px;
  margin-bottom: 80px;
  padding-right: 4px;
}

header span {
  color: var(--LightSanJuanBlue);
  font-weight: 700;
}

/* >>>>>>>>>>>>>> Partners Section  <<<<<<<<<<<<<<<<<<< */

.partners_section {
  background-color: var(--MirageBlue);
  position: relative;
  overflow: hidden;
  padding: 80px 18px;
}

.ps_logos_section {
  position: relative;
  z-index: 5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 35px;
  justify-items: center;
  align-items: center;
}

.ps_logos_section div:nth-child(2) {
  margin-right: 10px;
}

.ps_logos_section div:nth-child(3) {
  margin-left: 2px;
  margin-bottom: 3px;
}

.ps_logos_section div:nth-child(5) {
  margin-right: 14px;
}

.ps_logos_section div:nth-child(6) {
  margin-right: 17px;
}

.partners_section h2 {
  color: var(--LinkWaterWhite);
  text-align: center;
  font-family: "DM Serif Display", serif;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -0.246px;
  margin: 53px 11px 15px 11px;
  letter-spacing: 0.1px;
  word-spacing: -1px;
}

.partners_section p {
  color: var(--LinkWaterWhite);
  text-align: center;
  line-height: 28px;
  opacity: 0.7;
  margin-top: 0;
}

.ps_about_us {
  margin-top: 60px;
  text-align: center;
}

.ps_about_us button {
  width: 129px;
  height: 48px;
  border-radius: 24px;
  border: 1px solid var(--LinkWaterWhite);
  background-color: rgba(255, 0, 0, 0);
  color: var(--LinkWaterWhite);
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.415px;
  position: relative;
  padding-top: 4px;
  word-spacing: 1px;
}

/* >>>>>>  api logo <<<<<<<<<< */

.api_section {
  position: relative;
  padding: 0 18px;
  margin-top: 80px;
  overflow: hidden;
}

.api_logo {
  text-align: center;
}

.api_section h2 {
  color: var(--SanJuanBlue);
  text-align: center;
  font-family: "DM Serif Display", serif;
  font-size: 36px;
  line-height: 36px;
  margin-top: 45px;
  margin-bottom: 22px;
  letter-spacing: -0.277px;
}

.api_section p {
  color: var(--LightSanJuanBlue);
  text-align: center;
  line-height: 28px;
  margin-bottom: 80px;
}

.api_section img {
  filter: drop-shadow(25px 25px 80px rgba(54, 83, 107, 0.3));
}

.dual_phones {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 79px;
  margin-bottom: 50px;
}

/* >>>>>>> Pricing Cards <<<<<< */

.pricing_cards_section {
  text-align: center;
  padding: 0 18px;
}

.pricing_cards_section h3 {
  color: var(--SanJuanBlue);
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: -0.138px;
  margin-top: 31px;
  margin-bottom: 17px;
  word-spacing: 1.5px;
}

.pricing_cards_section p {
  color: var(--LightSanJuanBlue);
  text-align: center;
  line-height: 25px;
  margin-bottom: 45px;
  padding: 0px 5px;
  letter-spacing: -0.115px;
}

/*  >>>>>> Footer <<<<<<< */

.footer_black {
  background-color: var(--MirageBlue);
  text-align: center;
  padding: 41px 20px 55px 20px;
  position: relative;
  overflow: hidden;
}

.footer_list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 37px 0;
}

.footer_list li {
  width: fit-content;
}

.footer_list li:nth-child(2) {
  margin: 31px 0;
}

.footer_list a {
  text-decoration: none;
  color: var(--LinkWaterWhite);
  font-weight: 700;
  opacity: 0.7;
}

footer h2 {
  color: var(--SanJuanBlue);
  text-align: center;
  font-family: "DM Serif Display", serif;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -0.246px;
  margin-top: 80px;
  margin-bottom: 30px;
}

footer form {
  margin-bottom: 80px;
}

.social_media {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social_media a {
  display: grid;
  align-items: center;
  margin-top: 4px;
}

/* >>>>>>>>>>> Active states <<<<<<<<<<<<< */

.pay_api_logo:active,
.footer_api_logo img:active,
.burger_button:active,
.burger_menu_x:active,
.pay_api_logo_tablet:active {
  transform: translateY(4px);
}

.burger_menu_list li:active,
.schedule-a-demo-burger:active,
.schedule-a-demo:active,
.ps_about_us button:active,
.social_media a:active,
.footer_list li:active,
.schedule_a_demo_navar:active {
  transform: translateY(2px);
}

@media (hover: hover) {
  .pay_api_logo:hover,
  .footer_api_logo img:hover,
  .burger_button:hover,
  .burger_menu_x:hover,
  .pay_api_logo_tablet:hover {
    transform: translateY(2px);
    cursor: pointer;
  }

  .burger_menu_list a:hover,
  .footer_list a:hover,
  .navbar_list a:hover {
    opacity: 1;
  }

  .schedule-a-demo-burger:hover,
  .schedule-a-demo:hover,
  .schedule_a_demo_navar:hover {
    cursor: pointer;
    background-color: var(--CharmPink);
  }

  .header_form input:hover {
    cursor: pointer;
  }

  .social_media a:hover {
    cursor: pointer;
  }

  .ps_about_us button:hover {
    color: var(--MirageBlue);
    background-color: var(--LinkWaterWhite);
    cursor: pointer;
  }

  .social_media img:hover {
    filter: invert(33%) sepia(75%) saturate(701%) hue-rotate(290deg)
      brightness(91%) contrast(88%);
  }

  .footer_list li:hover {
    z-index: 2;
  }

  .footer_list a:hover {
    z-index: 2;
  }
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Tablet 768px <<<<<<<<<<<<<<< */

@media only screen and (min-width: 768px) {
  .burger_menu_logos {
    display: none;
  }

  .burger_menu {
    display: none;
  }

  .pay_api_logo_tablet {
    margin-top: 3px;
  }

  .navbar_tablet {
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 40px 0 40px;
  }

  .navbar_tablet div:nth-child(2) {
    display: flex;
    gap: 40px;
  }

  .navbar_list {
    margin-top: 3px;
    margin-right: 22px;
  }

  .navbar_list a {
    color: var(--SanJuanBlue);
    font-family: "Public Sans", sans-serif;
    font-weight: 700;
    text-decoration: none;
    opacity: 0.7;
  }

  .navbar_list a:nth-child(2) {
    margin-right: 4px;
    margin-left: 1px;
  }

  .schedule_a_demo_navar {
    width: 173px;
    height: 48px;
    border-radius: 24px;
    background-color: var(--DarkPink);
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    color: var(--LinkWaterWhite);
    font-family: "Public Sans", sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -0.115px;
    border: none;
  }

  header {
    text-align: center;
  }

  .header_phone {
    margin-top: 50px;
  }

  .header_phone img {
    height: 299.317px;
  }

  header h1 {
    margin: 46px 98px 0 98px;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: -0.369px;
  }

  .header_form {
    display: inline-block;
    position: relative;
    margin-top: 30px;
    margin-bottom: 0;
    margin-right: 117px;
  }

  .header_form button {
    width: 173px;
    position: absolute;
    left: 272px;
  }

  header p {
    margin-top: 0;
    margin-bottom: 99px;
  }

  header span {
    letter-spacing: 0.2px;
  }

  .ps_logos_section {
    grid-template-columns: max-content max-content max-content;
    justify-content: center;
    align-items: center;
    margin: 9px 98px 0 98px;
  }

  .ps_logos_section div:nth-child(1) img {
    width: 129px;
  }
  .ps_logos_section div:nth-child(2) img {
    width: 145px;
  }
  .ps_logos_section div:nth-child(3) img {
    width: 140px;
  }
  .ps_logos_section div:nth-child(4) img {
    width: 131px;
  }
  .ps_logos_section div:nth-child(5) img {
    width: 96px;
  }
  .ps_logos_section div:nth-child(6) img {
    width: 137px;
  }

  .ps_logos_section div:nth-child(2) {
    margin-left: 59px;
    margin-right: 60px;
  }
  .ps_logos_section div:nth-child(5) {
    margin: 0;
  }
  .ps_logos_section div:nth-child(6) {
    margin: 0;
    margin-left: 5px;
    margin-top: 3px;
  }

  .partners_section h2 {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.369px;
    margin-top: 61px;
    margin-bottom: 25px;
  }

  .partners_section p {
    margin: 0 137px 0 135px;
  }

  .ps_about_us {
    margin-top: 31px;
    margin-bottom: 8px;
  }

  .api_logo img {
    width: 393px;
    margin-top: 20px;
  }

  .api_section h2 {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.369px;
  }

  .api_section p {
    margin: 0 79px;
    margin-top: 25px;
  }

  .dual_phones {
    margin-top: 98px;
  }

  .dual_phones img {
    width: 168px;
  }

  .api_section p {
    margin-top: 24px;
    margin-bottom: 99px;
  }

  .pricing_cards_section {
    display: flex;
    padding: 0 32px;
  }

  .pricing_cards_section img {
    width: 88px;
  }

  .pricing_cards_first_col h3 {
    margin-top: 30px;
    margin-bottom: 0;
    margin-left: 1px;
  }

  .pricing_cards_second_col img {
    margin-left: 10px;
  }

  .pricing_cards_second_col h3 {
    margin-top: 30px;
    margin-left: 11px;
    margin-bottom: 0;
  }

  .pricing_cards_second_col p {
    margin-left: 10px;
    padding: 0;
  }

  .pricing_cards_third_col img {
    margin-left: 10px;
  }

  .pricing_cards_third_col h3 {
    margin-left: 7px;
    margin-bottom: 0;
    margin-top: 30px;
  }

  .pricing_cards_third_col p {
    padding: 0 8px;
    margin-left: 7px;
  }

  footer {
    text-align: center;
  }

  footer h2 {
    font-size: 48px;
    line-height: 56px;
    font-weight: 400;
    letter-spacing: -0.369px;
    margin-top: 55px;
    margin-bottom: 8px;
  }

  .footer_black {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    margin-top: 86px;
  }

  .footer_list {
    flex-direction: row;
    margin: 0;
    margin-right: 78px;
    justify-items: end;
  }

  .footer_list li:nth-child(2) {
    margin: 0 41px;
  }

  .social_media {
    margin-bottom: 5px;
  }
}

/* <<<<<<<<<< Desktop >>>>>>>>>>>>>>>>>> */

@media only screen and (min-width: 1440px) {
  .navbar_tablet {
    margin: 40px 163px;
    justify-content: start;
  }

  .navbar_list {
    margin-left: 66px;
  }

  .schedule_a_demo_navar {
    margin-left: 485px;
  }

  header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    margin-top: 72px;
    gap: 110px;
  }

  .header_phone {
    margin: 0;
    margin-top: 2px;
    margin-left: 97px;
  }

  .header_phone img {
    height: 502px;
  }

  .header_text {
    margin-top: 80px;
    margin-left: 162px;
    margin-bottom: 53px;
  }

  .header_text h1 {
    font-size: 72px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: -0.554px;
    margin: 0;
    width: 546px;
    text-align: start;
  }

  .header_text .header_form {
    margin-top: 48px;
    margin-right: 212px;
  }

  .header_text p {
    padding-right: 260px;
  }

  .partners_section {
    padding: 0;
  }

  .partners_section_inner {
    display: flex;
    flex-direction: row-reverse;
  }

  .partners_section_text {
    margin-top: 40px;
    width: 707px;
    margin-right: 31px;
  }

  .partners_section_text h2 {
    position: relative;
    font-weight: 400;
    margin-left: 23px;
    word-spacing: 0.5px;
    z-index: 2;
    margin-bottom: 24px;
  }

  .partners_section_text p {
    text-align: start;
    margin: 0 100px;
    margin-left: 165px;
  }

  .ps_about_us {
    text-align: start;
    margin-left: 165px;
    margin-bottom: 100px;
  }

  .ps_logos_section {
    align-content: center;
    margin: 0;
    margin-right: 164px;
    margin-top: 4px;
  }

  .api_logo img {
    width: 445px;
  }

  .api_logo_text h2 {
    text-align: left;
    margin-left: 126px;
    margin-top: 129px;
  }

  .api_logo_text p {
    width: 445px;
    margin-left: 127px;
    text-align: start;
  }

  .api_logo_outer {
    display: flex;
  }

  .api_logo {
    margin-left: 145px;
    margin-top: 49px;
  }

  .dual_phones_outer {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 96px;
  }

  .dual_phones {
    margin-top: 112px;
    margin-right: 152px;
    gap: 40px;
  }

  .api_section h2 {
    font-weight: 400;
  }

  .dual_phones img {
    width: 262px;
  }

  .phones_section_text {
    margin-top: 249px;
  }

  .phones_section_text h2 {
    text-align: start;
    margin-left: 147px;
  }

  .phones_section_text p {
    text-align: start;
    margin-left: 147px;
    margin-top: 0;
  }

  .pricing_cards_section {
    padding: 0;
    margin-top: 0px;
    display: grid;
    grid-template-columns: 365px 365px 365px;
    justify-content: center;
    column-gap: 8px;
  }

  .pricing_cards_section img {
    width: 106px;
  }

  .pricing_cards_first_col {
    margin-right: 15px;
  }

  .pricing_cards_first_col div {
    margin-right: 10px;
  }
  .pricing_cards_second_col {
    margin-right: 13px;
  }

  .pricing_cards_second_col p {
    margin-left: 12px;
  }

  .pricing_cards_third_col h3 {
    margin-left: 14px;
  }

  .pricing_cards_third_col p {
    margin-top: 16px;
    margin-left: 10px;
  }

  .footer_form {
    display: flex;
    justify-content: space-evenly;
    gap: 185px;
  }

  .footer_form h2 {
    margin-top: 50px;
  }

  .footer_form .header_form {
    margin-top: 56px;
  }

  .footer_black {
    justify-content: start;
    margin-top: 83px;
  }

  .footer_api_logo {
    margin-left: 123px;
  }

  .footer_list {
    margin-left: 66px;
  }

  .social_media {
    margin-left: 483px;
  }
}
